.registerContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%
}
.backgroundImg{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.registerFormDiv{
    width: 400px;
    /* height: 380px; */
    /* border: 1px solid red; */
    z-index: 2;
    position: absolute;
    top:50px;
    left: 15%;
    border-radius: 30px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px lightgray;
    
}
.registerForm{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-top: 30px;
    gap: 25px;
    align-items: center;
}
.registerButton{
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}
.registerButton:disabled{
    cursor: not-allowed;
    background-color: gray;
}
.formInput{
    width: 250px;
    height: 30px;
    font-size: 13px;
    border: none;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding-left: 20px;
}
.formInput:focus{
    outline:1px solid lightslategrey;
}
.invalidFormInput{
    width: 250px;
    height: 30px;
    font-size: 13px;
    border: none;
    border: 1px solid red;
    border-radius: 10px;
    padding-left: 20px;
}
.invalidFormInput:focus{
    outline:1px solid red;
}
.addUserContainer{
    width: 100%;
    height: 100%;
    position: absolute;
}